[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
assertpy = "*"
pytest-html = "*"
pytest-xdist = "*"
pytest-sugar = "*"

[dev-packages]

[requires]
python_version = "3.11"
